@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-main rounded text-white w-full py-4 text-base
  }
}

@layer utilities {
  .title {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }

  .text-body {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
  }
}